{% extends "layouts/../layouts/../layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row py-5">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">General information</h2>
                <form action="updateSettings/{{ user.id }}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">First Name</label>
                                <input class="form-control" name="first_name" type="text" value="{{ request.user.first_name }}" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Last Name</label>
                                <input class="form-control" name="last_name" type="text" value="{{ request.user.last_name }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" type="email" placeholder="name@company.com" value="{{ request.user.email }}">
                            </div>
                        </div>
                         <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">User Name</label>
                                <input class="form-control" name="username" type="text" value="{{ request.user.username}}" required>
                            </div>
                        </div>
                    </div>
                    <input type="submit" name="submit" class="form-control btn btn-primary my-3">
                </form>
            </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
