{% extends 'layouts/base.html' %}
{% block content%}
	<h1>Subscriptions</h1>
	<table class="table table-dark table-sm">
		{% for x in subscription %}
		<tr>
			<td>{{ x.id }}</td>
			<td>{{ x.membership_id_id }}</td>
			<td>{{ x.club_id_id }}</td>
			<td>{{ x.status }}</td>
            <td>{{ x.start_date }}</td>
            <td>{{ x.end_date }}</td>
			<td><a href="update/{{ x.id }}">update</a></td>
			<td><a href="delete/{{ x.id }}">delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<button class="btn btn-outline"><a href="add/">Add Subscription</a></button>
{% endblock content %}

