{% extends 'layouts/base.html' %}
{% block content %}
	<h1>Club Staff</h1>
    <a class="btn btn-primary" href="add/">Add Staff<a/>
    <div class="card card-body border-0 shadow table-wrapper table-responsive my-3 ">
      <table class="table table-hover">

          <thead>
              <tr>
                  <th class="border-gray-200">#</th>
                  <th class="border-gray-200">Club</th>
                  <th class="border-gray-200">User</th>
                  <th class="border-gray-200">position</th>
                  <th class="border-gray-200">View</th>
                  <th class="border-gray-200">Edit</th>
                  <th class="border-gray-200">Delete</th>
              </tr>
          </thead>
          <tbody>
          {% for x in club %}
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          {{ x.id }}
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">{{ x.club_id_id }}</span>
                  </td>
                  <td><span class="fw-normal">{{ x.user_id_id }}</span></td>
                  <td><span class="fw-normal">{{ x.position }}</span></td>
                  <td><a class="btn btn-primary" href="#"><span class="fw-normal">View Details</span></a></td>
                  <td><a class="btn btn-secondary" href="update/{{ x.id }}"><span class="fw-normal">Edit</span></a></td>
                  <td><a class="btn btn-danger" href="delete/{{ x.id }}"><span class="fw-normal">Delete</span></a></td>
              </tr>
              <!-- Item -->
          {% endfor %}
          </tbody>

      </table>
    </div>

{% endblock content %}

